/*Keskeneräinen:
Säädettävää ainakin vielä:
main h2 ei muotoudu vielä kuten tahtoisin,
työstän gridiä korteille,
responsiivisuus,
index/pelisivu viewport vain idex-sivulla, joka voinee vaikuttaa siihen, että sivut toistuvat eri tavoin.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  color: hsla(170,0%,100%,1);
  font-family:Georgia;
  padding: 0, 5%;
}
body {
  background: linear-gradient(180deg, hsla(170,80%,0%,1.0),hsla(170,80%,80%,1.0)); /*Pohjan liukuväri*/
}
header {
  /*Yläpalkin muotoilu*/
  width: 100%; /**/
  height:10vh; /**/
  min-height: 10px;
  position:sticky;
  top:0; /**/
  background-color: hsla(10,0%,25%,0.1); /**/
  padding-top:1%;
  /*Yläpalkin sisällön asettelu*/
  display: flex; /**/
  flex-direction: column;
  justify-content:space-around;
  flex-wrap: wrap;
}

header h1, h2, nav {
  width: 49%;                  /*Jotta kaikki olisi tasaista ja siistiä*/
}
header h1 {
  padding-left: 3%;
  height: 45%;
  font-size: 1.7em;
  color: hsla(170,80%,90%,1)
}
header h2 {
  font-size: 0.8em;
  height:45%;
  padding-left:3%;
}
header nav {

  display: flex;                    /* Otaa flexin käyttöön */
  flex-direction:row;               /* Vaihtaa esityssuunnan */
  justify-content:flex-end;         /* Tasaa sisällön oikeaan reunaan */
  font-size:1.5em;                  /**/
  width:45%;                        /* Tahdon tasakoon, ja näin osasin sen helposti tehdä */
}
a {
   /*Nav-linkkien muotoilut*/
  color: hsla(170,80%,95%,1);
  background-color: hsla(170,80%,70%,0.4);
  padding:5px 10px;
  border: 1px solid hsla(1,80%,100%,0.8);
  border-radius: 5%;
  max-width:150px;
  margin:25px;
}

main {
   height:86vh;
  /*   background: linear-gradient(180deg, hsla(170,80%,80%,0.1), hsla(170,80%,80%,01)); en tiiä, kirkkaampikin vois olla parempi*/
}
#muistipeli_header{

  height: 10vh;
  /*background-color: green;*/

  display: grid;
  grid-template-rows:repeat(2, 1fr);
  grid-auto-flow:column;
  grid-gap: 1%;

}

main h2 {                             /*Tätä pitää vielä säätää, ei asetu. Voi olla että gridistä löytyy ratkaisu.*/
  width:100%;
  height: 80%;
  display: inline-block;
  padding-left:4%;
  margin: 0;
  color: hsla(350,70%,100%,1);
  font-size:1.3em;
  font-weight: lighter;
  background-color: pink;*/
  text-align:
}
h4 {

 width:100%;
 padding-left: 2%;
 /*background-color: red;*/
 font-style: italic;
}
form {
  display:inline-block;   /*Sijainti muistipelin viereen*/
  width: 100%;             /*Hallittavuuden vuoksi tahdoin h2 ja formille samankokoiset tilat*/
  height: 100%;
  margin-top:15px;        /*ajattelin että on parempi, jos on vähän väljempää, jos tota käytetään sormella */
 /*background-color: aqua;*/

}
form option, select {
  background-color:hsla(20,80%,95%,0.9);
  float:right;
  color:black;
  height:100%;
  padding:2%;
  text-align: center;

}

.ruudukko {
  justify-content: center;

}

#ruudukko44 {

  /*border: 5px solid aqua; /**/

       /* tämä pitää kortit aisoissa ainakin ilman gridiä */
  width: 100%;
  display: grid; /*Kokeilin käyttää kuviin alkuun näitä, nyt grid on työn alla*/
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: auto;
  justify-content: center;
}
#ruudukko46 {

  /*border: 5px solid aqua; /**/

       /* tämä pitää kortit aisoissa ainakin ilman gridiä */

  display: grid; /*Kokeilin käyttää kuviin alkuun näitä, nyt grid on työn alla*/
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  margin: auto;
  justify-content: center;
}#ruudukko66 {

  /*border: 5px solid aqua; /**/

       /* tämä pitää kortit aisoissa ainakin ilman gridiä */

  display: grid; /*Kokeilin käyttää kuviin alkuun näitä, nyt grid on työn alla*/
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  margin: auto;
  justify-content: center;
}

#muistipeli_id {
    max-width: 720px;
    margin: auto;
}

img.kortit {
  max-width:95%;
}

footer {
  position: fixed;
  bottom: 0; /**/
  margin: 0; /**/
  width: 100%; /**/
  height: 7vh; /**/
  background: linear-gradient(180deg, hsla(170,80%,80%,1.0),hsla(170,80%,0%,1.0));
  }

#tekijat_div {
  width:100%;
  height: 100%;
  display: flex;
  justify-content: space-around;          /*tasaa esittelyt*/
  align-items: center;                    /*keskitys pystysuunnassa*/

}
dd, dt {
  display:inline-block;
}
dd {
  margin-right: 10px;                     /* mietin miksi nämä jakautuu eri riveille jos käytän prosentteja */
}
