

body {
  height: 100vh;
  font-size: 14px;
  z-index: -1;
  margin: 0;

}

/* Header alkaa*/

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px;
  position: fixed;
  left: 12.5%;
  top: 0;
  background-color: #7e8077;
  width: 75vw;
  transition: 0.2s;
  z-index: 2;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0 0 15px 15px;
  box-shadow: 1px 1px 25px 5px black;
}

.header_esilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px;
  position: fixed;
  left: 12.5
  top: 0;
  background-color: #A9A9A9;
  width: 75vw;
  top: 0px !important;
  transition: 0.2s;
  z-index: 2;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 25px 5px #FFC025;

}

#header_otsikko {
  font-family: 'Bebas Neue', cursive;
  color: #FFC025;
  margin-left: 5px;
  font-size: 50px;
  text-shadow: -2px -2px 10px black;
}

nav {
  margin-top: 20px;
}

a {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  color: black;
  background-color: #FFC025;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  background-color: #BCBCBC;
}

/* ----------------------- */

.form {
  display: block;
  position: fixed;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  background-color: #A9A9A9;
  width: 30%;
  height: 60%;
  top: -1200px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  transition: 0.5s;
  opacity: 0.9;
  z-index: 1;
  text-align: center;

}

.form_esilla {
  display: block;
  position: fixed;
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  background-color: #A9A9A9;
  width: 30%;
  height: 750px;
  border-radius: 10px;
  top: 455px;
  transition: 0.5s;
  opacity: 0.9;
  z-index: 1;
  text-align: center;

}

.form_kiinni {
  float: right;
  border: none;
  background-color: inherit;
}

.form_kiinni:hover {
  background-color: lightgrey;
}

.tekstikentat input {
  border-radius: 5px;
  width: 80%;
  background-color: #DDE2E8;
}

.tekstikentat {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

.radio_btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  margin:auto;
  align-items: center;
  justify-content: center;
  text-align:;
}

.textarea {
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  text-align: center;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

textarea {
  resize: none;
  border-radius: 8px;
  background-color: #DDE2E8;
}

#submit {
  background-color: #DDE2E8;
  font-family: 'Bebas Neue', cursive;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 20px;
}
/* ----------------------- */


/* Kuva sectionit */

section {
  overflow: hidden;
}

#section_1 {
  display: flex;
  background-image: url("imgs/background1.jpg");
  align-items: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro_title{
  overflow: hidden;
  color: black;
  background-color: #FFC025;
  font-family: 'Cinzel', serif;
  margin: auto;
  font-size: 2em;
  text-shadow: 8px 4px 15px white;
  opacity: 80%;
  box-shadow: 5px 5px 60px 5px black;
  border-radius: 25px 5px 25px 5px;
  padding: 0px 15px;
}

#intro_title {
  position: relative;
}

#outro_title {
  position: relative;
}

#section_2 {
  display: flex;
  align-items: center;
  background-image: url("imgs/background2grey.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#section_3 {
  display: flex;
  align-items: center;
  background-image: url("imgs/background4grey.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#section_4 {
  display: flex;
  background-image: url("imgs/background6.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----------------------- */

/* Border div */

.border {
  width: 100%;
  height: 7px;
  margin: 0;
  background: linear-gradient(to bottom, white, black 50%, white);
}

/* ----------------------- */

/* Artikkelit */

.article {
  opacity: 85%;
  margin: auto;
  font-size: 1.3em;
  font-family: 'Cinzel', serif;
  text-align: center;

  background-color: #FFC025;
  width: 33%;
  height: 500px;
  border-radius: 15px;
  box-shadow: 5px 5px 60px 5px black;

}

#article_1 {
  position: relative;
}

#article_2 {
  position: relative;
}

#article_1 h3 {
padding-top: 14%
}

#article_2 h3 {
padding-top: 4%;
}

.article p {
  padding: 0px 40px;
}


/* Responsiivisyuus */

/* Landscape */
@media only screen and (max-width: 1725px) {
  #span2 {
    display: none;
  }
  .form {
    width: 50%;
  }
}

@media only screen and (max-width: 1450px) {
  .form {
    width: 60%;
  }
  .tekstikentat {

  }
}

@media only screen and (max-width: 1090px) {
  .form {
    width: 60%;
  }
}

@media only screen and (max-width: 970px) {
  #span1 {
    display: none;
  }
}

@media only screen and (max-width: 670px) {
  .form {
    width: 60%;
  }
}

@media only screen and (max-width: 570px) {
  .form {
    width: 100%;
  }
  .tekstikentat {
    grid-gap: 0px;
  }
  .textarea {
    display: grid;
    margin-top: 1px;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1px;
    text-align: center;
    align-items: center;
    width: 90%;
    height: 15%;
    margin-bottom: 1px;
  }
}

/* Portrait */

@media only screen and (max-width: 600px) {
  .form {
    width: 85%;
    height: 600px;
    margin-top: -70px;
  }
  .tekstikentat {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-height: 800px){

.form {
  width: 60%;
  height: 600px;
  margin-top: -70px;
}
.tekstikentat {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
