

body {
  height: 100vh;
  font-size: 14px;
  z-index: -1;
  margin: 0;
}

/* Header alkaa*/

header {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 50px 50px;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  transition: 0.2s;
  z-index: 1;
}

.header_esilla {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 50px 50px;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  top: 0px !important;
  transition: 0.2s;
  z-index: 1;

}

nav {
  margin-top: 65px;
}

a {
  margin-left: 25px;
}

/* ----------------------- */

.form {
  display: block;
  position: fixed;
  background-color: lightgrey;
  width: 40%;
  height: 40%;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  top: -400px;
  transition: 0.5s;
  opacity: 0.9;
  z-index: 0;
  text-align: center;
  padding: 20px;
}

.form_esilla {
  display: block;
  position: fixed;
  background-color: lightgrey;
  width: 40%;
  height: 600px;
  border-radius: 10px;
  top: 420px;
  transition: 0.5s;
  opacity: 0.9;
  z-index: 0;
  text-align: center;
  padding: 20px;
}

button {
  float: right;
}


/* ----------------------- */


/* Kuva sectionit */


#section_1 {
  display: flex;
  background-image: url("imgs/background1.jpg");
  align-items: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  margin-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro_title{
  color: black;
  background-color: white;
  font-family: 'Cinzel', serif;
  margin: auto;
  font-size: 2em;
  text-shadow: 8px 4px 15px white;
  opacity: 80%;
  box-shadow: 2px 2px 20px 10px white;
  border-radius: 25px 5px 25px 5px;
  padding: 0px 15px;
}

#section_2 {
  display: flex;
  align-items: center;
  background-image: url("imgs/background2grey.jpg");
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#section_3 {
  display: flex;
  align-items: center;
  background-image: url("imgs/background4grey.jpg");
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#section_4 {
  display: flex;
  background-image: url("imgs/background6.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----------------------- */

/* Border div */

.border {
  width: 100%;
  height: 3px;
  margin: 0;
  background: white;
}

/* ----------------------- */

/* Artikkelit */

.article {
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  background-color: #f7f7f5;
  width: 33%;
  height: 90%;
  border-radius: 15px;
}

#article_1 h3 {
padding-top: 8%
}

#article_2 h3 {
padding-top: 4%;
}

.article p {
  padding: 0px 40px;
}
