body {
  height: 100vh;
  font-size: 14px;

}

/* Header alkaa*/

header {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 50px 50px;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}

nav {
  margin-top: 65px;
}

a {
  margin-left: 25px;
}

/* ----------------------- */


/* Kuva sectionit */

.section_kuva{
  border-radius: 10px;
}

#section_1 {
  background-image: url("imgs/backgroundDj.jpg");
  background-attachment: fixed;
  height: 400px;
  width: 100%;
  margin-top: 100px;

  background-repeat: no-repeat;
}

#section_3 {
  background-image: url("imgs/background2.jpg");
  background-attachment: fixed;
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#section_5 {
  background-image: url("imgs/background3.jpg");
  background-attachment: fixed;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#section_7 {
  background-image: url("imgs/background4.jpg");
  background-attachment: fixed;
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----------------------- */

/* Välisectionit */

.section_content {
  width: 100%;
  height: 50px;
}

/* ----------------------- */

/* Artikkelit */

.article {
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  background-color: white;
  width: 33%;
  height: 100%;
}

#article_1 h3 {
padding-top: 35%;
}

#article_2 h3 {
padding-top: 15%;
}
