body {
  width: 70%;
  margin: auto;
  background-color: #000000;
  font-size: 14px;
  line-height: 2;
}

header {
text-align: center;
font-size: 1.8em;
opacity: 0.7;
}

#tribute-info {
  opacity: 0.7;
}



img {
width: 100%;
max-width: 2100px;
border-radius: 10px;
}

main {
  text-align: center;
  color: white
}

p {
  font-size: 1.4em;
}

section {
  border-radius: 10px;
  text-align:justify;
  background-color: #450E22;
  opacity: 0.6;
  transition: 0.7s;
  display: inline-block;
  margin-top: 25px;
  width: 50%;
  height: px;
}

section:hover {
  opacity: 1;
}

section p {
  padding: 50px;
}

aside {
  border-radius: 10px;
  display: inline-block;
  width: 25%;
  height: 500px;
  float: right;
  background-color: #450E22;
  opacity: 0.6;
  transition: 0.7s;
  margin: 125px 140px 0 0;
}

aside:hover {
  opacity: 1;
}

#aside-kuva {
  width: 150px;
}
a {
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 50px;
  overflow: hidden;

}
