body {
  width: 100%;
  margin: auto;

}

header {
text-align: center;
}

figure {

}

img {
width: 100%;
min-width: 500px;
max-width: 1500px;
border-radius: 10px;


}

main {
  text-align: center;
}
