
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 102, 102, 0.5), rgba(0, 102, 102, 1));
  font-size: 14px;
}

header {
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #06274C;
}

header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: #E0F59C;
  margin: 15px 0 0 0;
}

header p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: lightblue;
  margin-bottom: 15px;
}

#lista_div {
width: 33%;
margin: 0 auto;
text-align: center;
padding-top: 200px;
padding-bottom: 100px;
}

#lista_input {
width: 400px;
height: 40px;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 1.2em;
border: none;
border-radius: 10px;
transition: 0.5s;
}

#lista_button {
  font-family: 'Roboto', sans-serif;
  width: 80px;
  height: 40px;
  font-size: 1.2em;
  font-weight: bolder;
  border: none;
  margin-left: 15px;
  color: green;
  background-color: lightgreen;
  transition: 0.5s;
  border-radius: 5px;
}

#lista_button:hover {
  background-color: green;
  color: lightgreen;
  width: 90px;
}

#poista_valmiit {
  font-family: 'Roboto', sans-serif;
  width: 200px;
  height: 40px;
  font-size: 1.2em;
  font-weight: bolder;
  border: none;
  color: green;
  background-color: orange;
  transition: 0.5s;
  border-radius: 5px;
}

#lista_ul {
  background: #F2F6D9;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px;

}

#lista_ul:empty {
  visibility: hidden;
}

.lista_item {
  list-style: none;
  text-align: left;
  font-size: 1.5em;
  color: white;
  padding: 10px;
  margin: 10px 0;
  background: #6284A9;
  border-radius: 5px;
  transition: 0.5s;
}

.lista_item:hover {
  background-color: #88B6B0;
}

.poistonappi {
  float: right;
  border: none;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 5px;
  color: orange;
  background: none;
  transition: 0.5s
}

.poistonappi:hover {
  background-color: orange;
  color: red;
}

footer {
  background-color: #06274C;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
}

#tekijat_div {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

dt {
  color: lightgreen;
  display: inline;
  width: 100px;
  padding: 3px;
}

dd {
  color: lightblue;
  display: inline;
  margin: 0 15px 0 0;
  padding: 3px;
}

.li_varinvaihto {
  list-style: none;
  text-align: left;
  font-size: 1.5em;
  color: navy;
  padding: 10px;
  margin: 10px 0;
  background: lightgreen;
  border-radius: 5px;
  transition: 0.5s;
}

@media (max-width:600px) {

}
