body {
  margin: 0;
  padding: 0;
  background: #AA8939;
  font-size: 14px;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 1;
  text-align: left;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr;
  background: linear-gradient(to bottom, #553D00, #AA8939);
  border-radius: 5px;
}

header h1 {
  color: #FFDDAA;
  margin: 15px 20px;
}

header h2 {
  margin: 0 20px;
}

nav {
text-align: center;
margin-top: -55px;
}

a {
  font-size: 1.8em;
  margin-left: 100px;
  margin-right: 100px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px 5px;
  text-decoration: none;
  font-weight: bolder;
  color: #553D00;
  background: lightgreen;
}
main {
  padding-top: 75px;
}

#muistipeli_header {
  text-align: center;
  padding: 25px;
}

#muistipeli_id {
margin-top: -25px;
}

#ruudukko44 {
  width: 33%;
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 25px 20px;
  border-radius: 15px;
}

#ruudukko46 {
  width: 33vw;
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 25px 20px;
  border-radius: 15px;
}

#ruudukko46:active {
background-color: white;
}

#ruudukko66 {
  width: 33vw;
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 25px 20px;
  border-radius: 15px;
}

img {
  opacity: 0.8;
  border-radius: 15px;
  margin: auto;
  width: 100px;
}







footer {
  position: absolute;
  bottom: 20px;
  width: 100vw;
}

#tekijat_div {
margin: auto;
text-align: center;

width: 100vw;
}

#tekijat_dl {
  display: grid;
  margin: auto;
  width: 50vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
