body {
  margin: 0;
  padding: 0;
  width: 100vw;
  font-size: 14px;
  background: linear-gradient(to right, #FFF2CA, white);
}

header {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 85px;
  z-index: 1;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  background: linear-gradient(to right, #7D570B, #d9c891, #7D570B);
  transition: 0.5s;
}

header:hover {
  box-shadow: 0px 15px 25px 10px #d9c891;
}

#indexHeader {
  text-align: center;
  padding-top: 22%;
  font-size: 3.5em;
  color: #7D570B;
  text-shadow: 1px 1px 5px black;

}
header h1 {
  margin-top: 15px;
  margin-left: 35px;
  width: 350px;
  color: #FFDDAA;
  font-family: 'Zen Dots', cursive;
  font-size: 3em;
  text-shadow: 1px 1px 5px black;
}

#h2_1 {
  font-family: 'Zen Dots', cursive;
  text-shadow: 1px 1px 5px black;
  margin-top: -90px;
  margin-left: 350px;
  width: 200px;
  color: #FFEABF;
}

#h2_2 {
  font-family: 'Zen Dots', cursive;
  text-shadow: 1px 1px 5px black;
  margin-top: -80px;
  margin-left: 400px;
  width: 200px;
  color: #FFEABF;
}

#h2_3 {
  font-family: 'Zen Dots', cursive;
  text-shadow: 1px 1px 5px black;
  margin-top: -70px;
  margin-left: 450px;
  width: 200px;
  color: #FFEABF;
}

nav {
height: 50px;
text-align: center;
margin-top: -95px;
}

a {
  font-family: 'Zen Dots', cursive;
  font-size: 1.8em;
  margin-left: 75px;
  margin-right: 75px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px 5px;
  text-decoration: none;
  color: #71570C;
  background: #FFEABF;
  border: none;
  transition: 0.5s;
  text-shadow: 1px 1px 2px green;
}

a:hover {
  background: #71570C;
  color: #FFEABF;
}

main {

  min-height: 100vh;
  padding-top: 75px;
}

#muistipeli_header {
  font-family: 'Philosopher', sans-serif;
  font-size: 2em;
  text-align: center;
  padding: 25px;
  color: #7D570B;
}

#muistipeli_id {
margin: auto;
margin-top: -25px;
width: 37%;
}

select {
  border: none;
  width: 220px;
  height: 35px;
  background:  #FFF2CA;
  color: #71570C;
  border-radius: 5px;
  font-size: 0.9em;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0px 1px 5px 2px #71570C;
}

select:hover {
  color: #71570C;
  box-shadow: 0px 1px 5px 4px #71570C;
}

#ruudukko44 {
  width: 33%;
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 25px 20px;
  margin-top: 15px;
  border-radius: 15px;
}

#ruudukko46 {
  width: 33vw;
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 25px 20px;
  margin-top: -50px;
  border-radius: 15px;
}

#ruudukko66 {
  width: 33vw;
  margin: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 25px 20px;
  margin-top: -50px;
  border-radius: 15px;
}

img {
  opacity: 0.8;
  border-radius: 15px;
  margin: auto;
  width: 75px;
  box-shadow: 0px 1px 5px 2px #71570C;
}

#timer {
  box-shadow: 0px 1px 5px 2px #71570C;
  color: #7D570B;
  margin: 20px auto;
  text-align: center;
  font-size: 1.5em;
  width: 125px;
  padding: 5px;
  border-radius: 5px;
}

#voitot {
  color: #71570C;
  margin: 15px auto;
  text-align: center;
  font-size: 1.5em;
  width: 125px;
  padding: 5px;
  border-radius: 5px;
}

footer {

  background: linear-gradient(to right, #7D570B, #d9c891, #7D570B);
  width: 100vw;



}

#tekijat_div {
margin: auto;
text-align: center;
width: 100vw;

}

#tekijat_dl {
  display: grid;
  margin: auto;
  width: 50vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Media queryt alkaa */

@media only screen and (max-width: 1650px) {

header {
  height: 55px;
}

header h1 {
  margin-top: 0px;
}

.header_h2, h4 {
  display: none;
}

a {
  font-size: 1.5em;
}

main {
  padding-top: 25px;
  min-height: 100vh;
}

footer {
  height: 50px;
}
}

@media only screen and (max-width: 1200px) {

a {
  float: right;
  margin: 0;
  margin-right: 30px;
  margin-top: -5px;
}
}

@media only screen and (max-width: 620px) {
header {
  height: 100px;
  display: inline;
}
h1 {

text-align: center;
}

h2 {
  margin-top: 65px;
  font-size: 1.2em;
}

a {
    margin-top: 40px;
    margin-right: 120px;
    align-items: center;
    justify-content: center;
  }
}
