body {
  width: 100%;
  background-color: black;
}

main {
  margin: auto;
}

form {
  background-color: lightblue;
  border: 4px solid lightgreen;
  border-radius: 15px;
  width: 28%;
  min-width: 350px;
  max-width: 500px;
  margin: 50px auto;
  padding: 15px;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

.text_inputs {
  display: grid;
  margin: auto;
  width: 300px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr auto;
}

.cell1 {
  width: 130px;
}

textarea {
  width: 170px;
}

.radio_btns {

  width: 250px;
  margin: auto;
}

.checkboxes {
  display: grid;
  text-align: center;
  margin: auto;
}

hr {
  margin-top: 25px;
}


#button {
  width: 75px;
  margin: auto;
}
