body {
  width: 100%;
  background-color: black;
}

main {
  margin: auto;

}

form {
  background-color: lightblue;
  border: 2px solid white;
  border-radius: 15px;
  width: 28%;
  min-width: 350px;
  max-width: 500px;
  margin: 50px auto;
  padding: 15px;
}

h1, h4 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}


.text_inputs {
  display: grid;
  margin: auto;
  width: 300px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr auto;
}

.cell1 {
  width: 130px;
}

input {
  border-radius: 3px 7px;
  border: none;
}

textarea {
  width: 170px;
  border-radius: 5px 15px;
  border: none;
}

.radio_btns {
  width: 250px;
  margin: auto;
}

.checkboxes {
  display: grid;
  text-align: center;
  margin: auto;
}

hr {
  margin-top: 25px;
}

.button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
}

.submit {
  background-color: #EAFCFF;
  border-radius: 5px;
  width: 80px;
  height: 25px;
  margin: auto;
  transition: 0.5s;
}

.submit:hover {
  background-color: #C9E7EC;
  font-size: 15px;
}

:focus {
  border: 1px solid;
  outline-color: #96CDD6;
  background-color: #DFDFDF;
}
